body{
	background: url(../images/forums.jpg) no-repeat center center fixed;
	color: white;
}

/*Breadcrumb*/
.Breadcrumb{
	font-size: 12px;
	margin-top: 30px;
}
.BreadcrumbHome{
	color: #808080;
	transition: all .3s ease-in-out;
}
.BreadcrumbHome:hover{
	color: #FF7200;
	transition: all .3s ease-in-out;
}
.BreadcrumbHere{
	font-weight: bold;
}

.post{
	background: rgba(255,255,255, 0.1);
	border-bottom: solid 1px gray;
}

.post:hover{
	background: rgba(255,255,255, 0.2)
}
.post>p{
	color: white;
}

.head{
	font-size: 36px;
	color: white;
}

.textarea{
	height: 100px;
	font-size: 20px;
}

