<!DOCTYPE html>
<html>
	<head>
		<title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="/static/images/Board.png">
		<link href="/static/css/skeleton.css" rel="stylesheet">
		<link href="/static/css/community.css" rel="stylesheet">
		<link href="/static/css/forums.css" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">
	</head>
	<body>
		{% include 'includes/_community_navbar.html' %}
		<div><!--BODY-->
			<div class="container bordergrey">
				<br/><br/><br/><br/><br/>
				<a href="/community" class="BreadcrumbHome">Community</a>&nbsp;<span class="glyphicon glyphicon-menu-right"></span>&nbsp;<a href="/community/general" class="BreadcrumbHome">General Discussion</a>&nbsp;<span class="glyphicon glyphicon-menu-right"></span>&nbsp;<span class="BreadcrumbHere"> Post </span>
				<br/><br/>
				<img src="/static/images/board.png" alt="board" width="128px" style="float: left;"/>
				<br/>
				<p class="head"> {{ titled }} </p>
				<hr/>
				<h1>&nbsp </h1>
				<img src="/static/images/phileo.jpg" alt="PROFILE" style="float: left; border: 1px solid white; width: 96px;height: 96px;" />
				<p> &nbsp Insert First and Last Name</p>
				<p style="font-size: 16px; font-weight: bold;"> &nbsp User  </p>
				<br/>
				<br/><br/><br/>
					<p>
					    {{ commented }}
					</p>
				<br/><br/><br/>
				<hr/>
				<br/><br/><br/>
				<label for="comment"></label><p style="font-size: 20px;">Comments</p>
				<textarea class="form-control" rows="5" id="comment"></textarea>
				<br/>
				<input type="submit" class="btn btn-default"/>
				<br/><br/><br/>
				<hr/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>

		<!--BOTTOM-->
        {% include 'includes/_footer.html' %}

	</body>
</html>